body{
    background-color: rgb(250, 245, 245);
};
.contact-info{
    text-align: center;
    align-items: center;

}
.contact-text{
    text-align: center;
}
.headings{
    color: aliceblue;
}
.sub-head{
    text-align: left;
    color: rgb(255, 255, 255);
}
.sub-head2{
    text-align: left;
    color: rgb(247, 252, 0);
}
.sub-head1{
    text-align: center;
    color: rgb(250, 255, 240);
}
.sub-text{
    text-align: center;
    color: rgb(217, 255, 5);
    background:rgb(70, 70, 73);
    padding: 0px;
    border:1px solid rgb(70, 70, 70);
    margin: 5px;
    margin-right: 100px;
    margin-left: 100PX;
    
}
.contact-info{
    background-color: #ffe54c;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.sub-text1{
    text-align: center;
    color: rgb(255, 255, 255);
    background:rgb(70, 70, 73);
    padding: 0px;
    border:1px solid rgb(70, 70, 70);
    margin: 5px;
    margin-right: 100px;
    margin-left: 100PX;
    
}
.sec33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px;
    box-sizing: border-box;
}
.card{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-spacing: 25px;
  }
  
  .card:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    right: 7px;
    transition: 0.2s;
  }
  
  .card:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .card {
      padding: 13px 50px 13px;
    }
  }
.btn{
    background-color: black;
    color: #ffe54c;
    padding: 12px 16px;
}

.btn:hover{
    background-color: aliceblue;
    color: black;
    transition: 1s;
}
